{
    "client_id": "",
    "client_secret": "",
    "access_token": "",
    "refresh_token": "",
    "template_spreadsheet_id": "177eV4FvI5iCmYEODPC2B78fM_6TgrlRYU9AjSptc8s4",
    "arena_url": "",
    "arena_username": "",
    "arena_password": "",
    "class_settings": {
        "2390": { "skip": true },
        "2391": {
            "contactQueue": [
                { "reason": "First Time Visitor", "filter": { "isMember": false, "firstPresentWeeksAgo": 0} },
                { "reason": "Member Absent 3 Weeks", "filter": { "isMember": true, "lastPresentWeeksAgo": 4} },
                { "reason": "Member 2 Months", "filter": { "isMember": true, "lastPresentWeeksAgo": 9} }
            ]
        }
    }
}
